<app-swiper></app-swiper>

<div class="container">
  <section>
    <h3>
      Title
    </h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae corporis cum dicta fugiat natus possimus quas, veritatis. Aperiam debitis dolore enim fugit quis sunt velit. Autem facere officia unde.</span></p>
  </section>

  <section>
    <h3>
      Title
    </h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae corporis cum dicta fugiat natus possimus quas, veritatis. Aperiam debitis dolore enim fugit quis sunt velit. Autem facere officia unde.</span></p>
  </section>

  <section>
    <h3>
      Title
    </h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae corporis cum dicta fugiat natus possimus quas, veritatis. Aperiam debitis dolore enim fugit quis sunt velit. Autem facere officia unde.</span></p>
  </section>

  <section>
    <h3>
      Title
    </h3>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae corporis cum dicta fugiat natus possimus quas, veritatis. Aperiam debitis dolore enim fugit quis sunt velit. Autem facere officia unde.</span></p>
  </section>

</div>
